<!DOCTYPE html>
<html lang="en">

<head>
    <title>Journals & Publications</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="../css/home.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- to use pyscript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script defer src="https://pyscript.net/releases/2022.12.1/pyscript.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // Function to handle node clicks
        function handleNodeClick(nodeId) {
            alert('Clicked node ID: ' + nodeId);
            // You can perform further actions here based on the clicked node
        }
    </script>
    <script src="{{ url_for('static', filename='js/home.js') }}" ></script>

    <!-- profile bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
</body>
</head>

<body>

    <div class="search-bar">
        <!-- <input type="text" placeholder="Search">
        <button type="button">Search</button> -->
        <form id="searchForm" action="/search" method="post">
            <input type="text" id="keyword" name="keyword" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </div>



    

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo2.jpeg') }}" alt="Logo"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="#">Home</a></li>
                    <!-- <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Neural_Network</a></li>
                            <li><a href="#">Probablistic_Methods</a></li>
                            <li><a href="#">Theory</a></li>
                        </ul>
                    </li> -->
                    <li class="dropdown"><a href="#">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#profileModal" class="nav-link">
                            <span class="glyphicon glyphicon-user"></span> Profile
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                     <h5 class="modal-title" id="profileModalLabel">Profile</h5>
                    
                </div> -->
                <div class="modal-body">
                    <!-- Logout button -->
                    <form action="/login" method="POST">
                        <button type="submit" class="btn btn-danger">Logout</button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
   

    <div id="plotly_div" class="body-division">
        <!-- Embed your Plotly visualization here -->
        <!-- Load the saved HTML file here -->
        <div class="left-content"><iframe src="../static/node_classification_vis.html" width="100%" height="900" frameborder="0"></iframe></div>
        <div id="rightContent" class="right-content" >
            
        </div>
        
    </div>

    
    
</body>

</html>