<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journals & Publications</title>
    <!-- <link rel="stylesheet" href="../css/page.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/page.css">


</head>

<body>
    <div class="main" id="sec1">
        <div class="header1">
            <h2>Journals</h2>
            <h1>&</h1>
            <h2>Publications </h2>
            <a href="#sec2">
                <div class="scroll-down">

                </div>
            </a>

        </div>
        <div class="main" id="sec2">
            <div class="header2">
                <button onclick="redirectToregister()">Sign Up</button>
                <script>
                    function redirectToregister() {
                        window.location.href = "signup";
                    }
                </script>
            </div>
        </div>
</body>

</html>