<!DOCTYPE html>
<html>
<head>
    <title>Papers & Publications</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/view.css">
<!-- <script src="{{ url_for('static', filename='js/search.js') }}"></script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
body {
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
}
.hidden {
    display: none; /* Hide the element */
}


</style>



</head>
<body>

  

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>



  <div class="section full-height">
    <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
    <label for="modal-btn">About <i class="uil uil-expand-arrows"></i></label> 
    <div class="modal">		
        <div class="modal-wrap">	
          <img src="https://assets.codepen.io/1462889/sl3.jpg" alt="">	
            <p>Final year project. Topic: Bibliometric Analysis</p>	          		
        </div>			          		
    </div>	
    <div>
        <button class="home-btn" onclick="ToSearch()">Home</button>

    </div>

  <a href="{{ url_for('static', filename='templates/search.html') }}" class="logo" target="_blank">
      <img src="../static/images/logo2.jpeg" alt="Logo">
  </a>	
</div>

</div>

<div id="side-btn">
  <image src="../static/images/ham.png" alt="Menu" class="openbtn" onclick="openNav()"></image>
</div>

<div id="main">
    <div class="left">
        <div class="paper">
            <h1 style="text-align: center;">{{result}}</h1>
            <h4 style="text-align: center;">{{authors}}</h4>
            <h4 style="text-align: left;">Publisher:{{Publisher}}</h4>
            <p style="text-align: justify;"><b>Abstract</b> </br>Alewife is a multiprocessor architecture 
                that supports up to 512 processing nodes connected over a scalable and cost-effective 
                mesh network at a constant cost per node. The MIT Alewife machine, a prototype implementation 
                of the architecture, demonstrates that a parallel system can be both scalable and programmable. 
                Four mechanisms combine to achieve these goals: software-extended coherent shared memory provides a 
                global, linear address space; integrated message passing allows compiler and operating system designers to 
                provide efficient communication and synchronization; support for fine-grain computation allows many processors 
                to cooperate on small problem sizes; and latency tolerance mechanisms-including block multithreading 
                and prefetching-mask unavoidable delays due to communication. Microbenchmarks, together with over a 
                dozen complete applications running on the 32-node prototype, help to analyze the behavior of the system. 
                Analysis shows that integrating message passing with shared memory enables a cost-efficient solution to 
                the cache coherence problem and provides a rich set of programming primitives. Block multithreading and 
                prefetching improve performance by up to 25%, individually, and 35% together. Finally, language constructs 
                that allow programmers to express fine-grain synchronization can improve performance by over a factor of two.</p>
        </div>
        <div class="community">
            <h2>Related Papers</h2>
            <ul>
                <li>Mohammed A. Noaman Al-hayanni, Fei Xia, Ashur Rafiev, Alexander Romanovsky, Rishad Shafik, Alex Yakovlev, "Amdahl's law in the context of heterogeneous many-core systems – a survey", IET Computers & Digital Techniques, vol.14, no.4, pp.133-148, 2020</li>
                <li>Chang-qing Xun, Dong Chen, Qiang Lan, Chun-yuan Zhang, "Efficient fine-grained shared buffer management for multiple OpenCL devices", Journal of Zhejiang University SCIENCE C, vol.14, no.11, pp.859, 2013.</li>
                <li>Magnus Karlsson, Per Stenström, "Effectiveness of Dynamic Prefetching in Multiple-Writer Distributed Virtual Shared-Memory Systems", Journal of Parallel and Distributed Computing, vol.43, no.2, pp.79, 1997.</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="top"><h1>Cited Papers</h1></div>
        <div class="bottom">
            <ul>
                {% for item in citations %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>


<script>
    function ToSearch() {
        window.location.href = "search";
    }
</script>


<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
 


</body>
</html> 
