<!DOCTYPE html>
<html>
<head>
    <title>Papers & Publications</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/view.css">
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
body {
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
}
.hidden {
    display: none; /* Hide the element */
}


</style>



</head>
<body>

  

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>



  <div class="section full-height">
    <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
    <label for="modal-btn">About <i class="uil uil-expand-arrows"></i></label> 
    <div class="modal">		
        <div class="modal-wrap">	
          <img src="https://assets.codepen.io/1462889/sl3.jpg" alt="">	
            <p>Final year project. Topic: Bibliometric Analysis</p>	          		
        </div>			          		
    </div>	
    <div>
        <button class="home-btn" onclick="ToSearch()">Home</button>

    </div>

  <a href="{{ url_for('static', filename='templates/search.html') }}" class="logo" target="_blank">
      <img src="../static/images/logo2.jpeg" alt="Logo">
  </a>	
</div>

</div>

<div id="side-btn">
  <image src="../static/images/ham.png" alt="Menu" class="openbtn" onclick="openNav()"></image>
</div>

<div id="main">
    <div class="left">
        <div class="paper">
            <h1 style="text-align: center;">A Trip-based Multicasting Model in Wormhole-routed Networks with Virtual Channels</h1>
            <h4 style="text-align: center;">Yu-Chee Tseng, Dhabaleswar K. Panda, Member, IEEE, and Ten-Hwang Lai, Member, IEEE</h4>
            <p style="text-align: justify;"><b>Abstract</b> </br> This paper focuses on efficient multicasting in wormhole-routed networks. A trip-based
                 model is proposed to support adaptive, distributed, and deadlock-free multiple multicast on any network with arbitrary 
                 topology using at most two virtual channels per physical channel. This model significantly generalizes the path-based 
                 model proposed earlier [21], [22], which works only for Hamiltonian networks and can not be applicable to networks 
                 with arbitrary topology resulted due to system faults. Fundamentals of the trip-based model, including the necessary 
                 and sufficient condition to be deadlock-free, and the use of appropriate number of virtual channels to avoid deadlock 
                 are investigated. The potential of this model is illustrated by applying it to hyper-cubes with faulty nodes. 
                 Simulation results indicate that the proposed model can implement multiple multicast on faulty hypercubes with 
                 negligible performance degradation.</p>
        </div>
        <div class="community">
            <h2>Related Papers</h2>
            <ul>
                <li>paper 1</li>
                <li>paper 2</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="top"><h1>Cited Papers</h1></div>
        <div class="bottom">
            <ul>
                <li>A Trip-based Multicasting Model in Wormhole-routed Networks with Virtual Channels</li>
                <li>paper 2</li>
            </ul>
        </div>

    </div>
</div>


<script>
    function ToSearch() {
        window.location.href = "search";
    }
</script>


<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
 


</body>
</html> 
