<!DOCTYPE html>
<html>
<head>
    <title>Papers & Publications</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css/view.css">
<!-- <script src="{{ url_for('static', filename='js/search.js') }}"></script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
body {
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
}
.hidden {
    display: none; /* Hide the element */
}


</style>



</head>
<body>

  

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>



  <div class="section full-height">
    <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
    <label for="modal-btn">About <i class="uil uil-expand-arrows"></i></label> 
    <div class="modal">		
        <div class="modal-wrap">	
          <img src="https://assets.codepen.io/1462889/sl3.jpg" alt="">	
            <p>Final year project. Topic: Bibliometric Analysis</p>	          		
        </div>			          		
    </div>	
    <div>
        <button class="home-btn" onclick="ToSearch()">Home</button>

    </div>

  <a href="{{ url_for('static', filename='templates/search.html') }}" class="logo" target="_blank">
      <img src="../static/images/logo2.jpeg" alt="Logo">
  </a>	
</div>

</div>

<div id="side-btn">
  <image src="../static/images/ham.png" alt="Menu" class="openbtn" onclick="openNav()"></image>
</div>

<div id="main">
    <div class="left">
        <div class="paper">
            <h1 style="text-align: center;">{{result}}</h1>
            <h4 style="text-align: center;">{{authors}}</h4>
            <!-- <h4 style="text-align: left;">Year:{{year}}</h4> -->
            <p style="text-align: justify;"><b>Abstract</b> </br>{{abstract}}</p>
        </div>
        <div class="community">
            <h2>Related Papers</h2>
            <ul>
                {% for item in community %}
                <li><a style="cursor: pointer;" onclick="ToView('{{ item }}')">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="top"><h1>Cited Papers</h1></div>
        <div class="bottom">
            <ul>
                {% for item in citations %}
                <li><a style="cursor: pointer;" onclick="ToView('{{ item }}')">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div id="popup-box" class="pop-btn">
        <div class="pop-content">
            <!-- <image class="bot-btn" src="../static/images/chatbot.png" onclick="redirectToBOT('{{link}}')"title="Chat with PDF"></image></image> -->
            <span class="hover-text" style="display: none; position: absolute;top: -41px;left: 64%; transform: translateX(-50%); background-color: #ffffff; padding: 5px; border: 1px solid #ccc; border-radius: 5px; white-space: nowrap;">Chat with Samvidh</span>
            <image class="bot-btn" src="../static/images/chatbot.png" onclick="redirectToBOT('{{link}}')" onmouseover="showHoverText()" onmouseout="hideHoverText()"></image>
            <span class="hover-text-pdf" style="display: none; position: absolute;top: -41px;left: -7%; transform: translateX(-50%); background-color: #ffffff; padding: 5px; border: 1px solid #ccc; border-radius: 5px; white-space: nowrap;">View Research Paper</span>
            <image class="view-btn" src="../static/images/file.png" onclick="redirectToPDF('{{link}}')"onmouseover="showHoverTextPDF()" onmouseout="hideHoverTextPDF()"></image>
        </div>
    </div>
</div>

<script>
    function ToSearch() {
        window.location.href = "search";
    }
    function redirectToPDF(link) {
        window.location.href = link;
    }
    function redirectToBOT(link) {
        var botUrl = "http://localhost:8501/";  // Adjust the URL to match your Flask app's URL
        var redirectUrl = `${botUrl}?link=${encodeURIComponent(link)}`;
        window.location.href = redirectUrl;
    }
    function showHoverText() {
        document.querySelector('.hover-text').style.display = 'block';
    }

    function hideHoverText() {
        document.querySelector('.hover-text').style.display = 'none';
    }
    function showHoverTextPDF() {
        document.querySelector('.hover-text-pdf').style.display = 'block';
    }

    function hideHoverTextPDF() {
        document.querySelector('.hover-text-pdf').style.display = 'none';
    }
</script>


<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
function ToView(itemContent) {
    window.location.href = "/view?item=" + encodeURIComponent(itemContent);
}
</script>
 


</body>
</html> 
