.navbar {
    position:  fixed;
    background-color: #2B1C1F;
    margin-bottom: 50px;
    border-radius: 0;
    width: 100%;
}

.navbar-brand img {
    height: 100px;
    width: auto;
}

.navbar-nav>li.dropdown>a>.caret {
    display: none;
}

.navbar-nav>li>a,
.navbar-nav>li.dropdown>a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.navbar-nav>li>a:hover,
.navbar-nav>li.dropdown>a:hover {
    background-color: black;
    /* Change the background color on hover */
    color: white;
}

.navbar-nav>li.active>a,
.navbar-nav>li.dropdown.active>a {
    background-color: #555;
    color: #fff;
}

.navbar-nav>li.dropdown:hover>.dropdown-menu {
    display: block;
}

.search-bar {
    position: fixed;
    width:100%;
    top: 50px;
    right: 0;
    background-color: #613517;
    color: white;
    padding: 5px;
    text-align: center;
}

.search-bar input[type="text"] {
    width: 75%;
    padding: 10px;
    color: #2B1C1F;
}

.search-bar button {
    padding: 10px;
    background-color: #892236;
    color: white;
    border: none;
    border-radius: 20px;
}

img {
    width: 100%;
}

/* sidebar */
/* Define grid container */
.body-division{
    display: grid;
    grid-template-columns: 70% 30%; /* 70% for left, 30% for right */
    grid-gap: 20px; /* Adjust gap as needed */
}

/* Style left content */
.left-content {
    /* Styles for left part */
    max-width: auto;
}

/* Style right content */
.right-content {
    max-width:auto;
    color: bisque;
    /* Styles for right part */
}
