
#main {
    display: flex;
    padding: 16px;
  }
  
  .left {
    flex: 1;
    margin-right: 10px;
  }
  
  .right {
    float: right;
    width: 20%;
    height: 900px;
    position: relative;
    border: 1px solid black;
    background-color: #ccebff;
    display: flex;
  }

  .top {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
  }
  .bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 100px;
    height:auto;
    overflow-y: auto;
    padding-right: 10px;
  }

.paper{
    text-align:justify;
    padding-left: 20%;
    padding-right: 20%;
}
.community{
    padding-top: 10%;
}

.container {
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Center items vertically */
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  

 
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 10px;
    cursor: pointer;
    /* background-color: #fffcfc00; */
    /* color: white; */
    padding: 10px 15px;
    border: none;
    height: 70px;
    width: 70px;
  }
  
  .openbtn:hover {
    background-color: #93abf8;
  }
  
  
  @media screen and (height: 100%) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
/* home */
.home-btn{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* font-size: 15px; */
    top:30%;
    right:10%;
    font-size: 25px;
    line-height: 2;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 240px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
      -ms-flex-item-align: center;
      align-self: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* color: #ffeba7; */
    color: #818181;
    /* box-shadow: 0 12px 35px 0 rgba(16,39,112,.25); */
  }
  
  .home-btn:hover{
    /* background-color: #ffeba7;
    color: #102770; */
    color: #f1f1f1;

  }

  
  
  
  
 
  
  
  /* about pop up window */
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
  /* *,
  *::before,
  *::after {
    box-sizing: border-box;
  } */
  body{
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.7;
      color: #1f2029;
        background-color: #fff;
    overflow: hidden;
    background-image: url('https://assets.codepen.io/1462889/back-page.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 101%;
  }
  p{
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.7;
      color: #1f2029;
  }
  
  .section{
    position: relative;
    width: 100%;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .full-height{
    min-height: 100vh;
  }
  
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
  }
  .modal-btn:checked + label,
  .modal-btn:not(:checked) + label{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* font-size: 15px; */
    top:21.5%;
    font-size: 25px;
    line-height: 2;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 240px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
      -ms-flex-item-align: center;
      align-self: center;
    border: none;
    cursor: pointer;
    /* background-color: #102770; */
    /* color: #ffeba7; */
    color: #818181;
    /* box-shadow: 0 12px 35px 0 rgba(16,39,112,.25); */
  }
  .modal-btn:not(:checked) + label:hover{
    /* background-color: #ffeba7;
    color: #102770; */
    color: #f1f1f1;
  }
  
  
  .modal-btn:checked + label .uil,
  .modal-btn:not(:checked) + label .uil{
      margin-left: 50px;
      font-size: 18px;
  }
  .modal-btn:checked + label:after,
  .modal-btn:not(:checked) + label:after{
    position: fixed;
    top: 30%;
    right: 30px;
    z-index: 110;
    width: 40px;
    /* border-radius: 3px; */
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    background-color: #f6ebc8;
    color: #f6ebc8;
    font-family: 'unicons';
    content: '\eac6'; 
    /* box-shadow: 0 12px 25px 0 rgba(16,39,112,.25); */
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z' fill='%23102770'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-btn:checked + label:hover:after,
  .modal-btn:not(:checked) + label:hover:after{
    background-color: #5a70b7;
    color: #5a70b7; 
    
  }
  .modal-btn:checked + label:after{
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z' fill='%23102770'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal{
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31,32,41,.75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
  }
  .modal-btn:checked ~ .modal{
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  .modal-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
      -ms-flex-item-align: center;
      align-self: center;
      box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
  }
  .modal-wrap img {
    display: block;
    width: 100%;
    height: auto;
  }
  .modal-wrap p {
    padding: 20px 30px 0 30px;
  }
  .modal-btn:checked ~ .modal .modal-wrap{
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
  }
  
  
  .logo {
      position: absolute;
      top: 25px;
      left: 25px;
      display: block;
      z-index: 1000;
      transition: all 250ms linear;
  }
  .logo img {
      height: 100px;
      width: auto;
      /* display: block; */
        filter: brightness(80%);
      transition: filter 250ms 700ms linear;
  }
  .modal-btn:checked ~ .logo img {
        filter: brightness(120%);
      transition: all 250ms linear;
  }
  
  
  @media screen and (max-width: 500px) {
      .modal-wrap {
          width: calc(100% - 40px);
          padding-bottom: 15px;
      }
      .modal-wrap p {
        padding: 15px 20px 0 20px;
      }
  
    /* node click buttons */
    .buttons-container {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
  }
  
  .buttons-container button {
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  .buttons-container button:hover {
      background-color: #0056b3;
  }
  
  }
  #popup-box {
    position: fixed;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}

.pop-content {
    display: flex;
    flex-direction: row-reverse; /* Buttons aligned to the right */
    align-items: flex-end; /* Align buttons to the bottom */
}

.bot-btn, .view-btn {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    margin-left: 10px; /* Adjust as needed */
    cursor: pointer;
}
  
  