.navbar {
    position:  fixed;
    background-color: #2B1C1F;
    margin-bottom: 50px;
    border-radius: 0;
    width: 100%;
}

.navbar-brand img {
    height: 100px;
    width: auto;
}

.navbar-nav>li.dropdown>a>.caret {
    display: none;
}

.navbar-nav>li>a,
.navbar-nav>li.dropdown>a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.navbar-nav>li>a:hover,
.navbar-nav>li.dropdown>a:hover {
    background-color: black;
    /* Change the background color on hover */
    color: white;
}

.navbar-nav>li.active>a,
.navbar-nav>li.dropdown.active>a {
    background-color: #555;
    color: #fff;
}

.navbar-nav>li.dropdown:hover>.dropdown-menu {
    display: block;
}

.search-bar {
    position: fixed;
    width:100%;
    top: 50px;
    right: 0;
    background-color: #613517;
    color: white;
    padding: 5px;
    text-align: center;
}

.search-bar input[type="text"] {
    width: 75%;
    padding: 10px;
    color: #2B1C1F;
}

.search-bar button {
    padding: 10px;
    background-color: #892236;
    color: white;
    border: none;
    border-radius: 20px;
}

img {
    width: 100%;
}

/* sidebar */
body {
    font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}